@inherits LayoutComponentBase

<div class="page">

    <main>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid m-2">
                <a class="navbar-brand" href="#">ArashiDNS.Hakado</a>
            </div>
        </nav>

        <article class="content p-4 ">
            @Body
        </article>
    </main>
</div>
